html, body {
    background-color: #181a1b !important;
    width: 100%;
    height: 100%;
    font-family: arial,sans-serif;
    font-size: 14px;
}

nav {
	position: absolute;
	top:12px;
	right: 10px;
}

nav a:link, a:visited, a:active {
    color: #2a2a2a;
    font-size:12px;
    text-decoration:none;
	margin-right:5px;
	margin-left:5px;
	position:relative;
	top:-10px;
}

nav a:hover {
	text-decoration:underline;
}

nav #profile-pic {
    display: inline-block;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    position: relative;
    top: 10px;
}

/* Fix the Dropdown Img and border while hover */
.apps  {
    position: relative;
    top: 5px;
    
}

.apps:hover {
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.54);
    box-shadow: rgba(136, 136, 136, 0.2) 0px 2px 8px 0px;
}


#logo{
    position: relative;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    top: 250px;
}

.links-list {
    display: inline;
}

li {
    display: inline;
}

/* Search Content */
/* --------------------------------------------------------------- */

#search-content{
    position: relative;
    top: 260px;
    width: 600px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    
}


#search-content .material-icons{
    position: relative;
    left: 30px;
    top: 5px;
    font-size: 16px;
}


#search-content .entered{
    text-indent: 30px;
}

#search-content #entered{
    width: 80%;
    height: 35px;
    background-color: #131516;
    border-color: gray;
    border-radius: 25px;
    border-width: 1px;
    color: white;
}

#search-content #entered:hover{
    border-color: rgba(232, 230, 227, 0.54);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#search-content #entered:active{
    outline: none;
}

#search-content .extra-btns{
    position: relative;
    top: 20px;;
    margin: 5px;
    padding: 12px;
    border-radius: 3px;
    background-color: #131516;
    border-color: rgb(0, 111, 111);
    color: white;
}

#search-content .extra-btns:hover{
    cursor: pointer;
    border-color: rgb(0, 216, 216);
    color: rgb(221, 208, 243);
    text-shadow: 2px 2px 2px red;
}

.language-choice{
    position: relative;
    top: 300px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 14px;
}

.choice  a{
    text-decoration: none;
    color: lightblue;
}

/* Footer */
/* ------------------------------------------------------------------- */

footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100vw;
    padding-top: 8px;
    padding-bottom: 20px;
    background-color: rgb(58, 62, 65);
    color: rgba(232, 230, 227, 0.54);
}

footer .location{
    position: relative;
    font-size: 15px;
    left: 10px;
    bottom: 0px;
    top: 8px;;
    font-size: 14px;   
    left: 35px;
}

hr{
    position: relative;
    bottom: -10px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(168, 163, 163, 0.75), rgba(0, 0, 0, 0));
}


footer .left-sided-links a{
    text-decoration: none;
    color: rgba(232, 230, 227, 0.54);
    position: relative;
    top: 10px;;
    left: 30px;
    margin: 8px;
    font-size: 14px;
}

footer .right-sided-links a{
    position: relative;
    bottom: 15px;
    right: 30px;
    float: inline-end;
    text-decoration: none;
    color: rgba(232, 230, 227, 0.54);
    margin: 8px;
    font-size: 14px;
}


